*{
    padding: 0;
    margin: 0;
    box-sizing:border-box ;
}
.navegacion{
    width: 1000px;
    margin: 30px auto;

}
.Menu ul{
    list-style: none;
    
}
.Menu > li{
    position: relative;
    display: inline-block;
    

}

.Menu> li > a{
    display: block;
    padding: 15px 20px;
    color: rgb(192, 192, 192);
    font-family: sans-serif;
    text-decoration: none;
    
}
.Menu  li  a:hover{
    color: rgb(180, 112, 10);
    transition: 0.25s;

}

h1{
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    color:#ecf0f1;
    text-transform: uppercase;
}
h2{
    font: bold 10px sans-serif;
    color:#ecf0f1;
    text-transform: uppercase;
}
.Cabecera2{
    color: rgb(192, 192, 192);
    font-size: 30px;

}
body{
    width: 100%;
    height: 100%;
    text-align: center;
    background-image: url(ubuntu-16-04-lts-Desktop-fondo-2.jpg);
    background-size: cover;
    align-items: center;
    justify-content: center;

}
.agrupar{
    width: 1000px;
    margin:30px auto;
    background: rgba(255, 222, 255, 0);

    

;
    
}
.agrupa{
    width: 560px;
    margin:30px auto;
    background: none;
    border-radius: 24px;
    border: 3px solid #273c75;
    
    
}

.cabecera{
    background:none;
    border-radius: 24px;
    border: 3px solid #273c75;
    padding: 10px;
    

 
    
}


.blog-post{
    width: 100%;
    max-width: 58rem;
    padding: 2rem;
    background-color:rgba(102, 102, 102, 0.7) ;
    box-shadow: 0 1.4rem 8rem rgba(0, 0, 0, .2);
    display: flex;
    align-items: center;
    border-radius: .8rem;
    margin-bottom: 20px;
    margin-left:300px ;
    text-align: left;

}
.blog-post___img{
    min-width: 20rem;
    max-width: 20rem;
    height: 18rem;
    transform: translateX(-8rem);
    position: relative;

}

img{

    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: .8rem;
    box-shadow: .5rem .5rem 3rem 1px rgba(0, 0, 0, .4);

}
.blog_post__date{
    display: block;
    color: rgba(0, 0, 0, .5);
    font-size: .9rem;
    font-weight: 100;
    margin: .5rem 0;

}
.blog-post__title{
    font-size: 2rem;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
    color: #4facfe;

}

p{
    margin-bottom: 1.8rem;
    font-size: 1rem;
    color: rgba(206, 206, 206, 0.7);
}


.pie{
    clear: both;
    padding: 10px;
    color: white;
    border: 3px solid #9c2b4b;
    border-radius: 13px;
    width: 200px;
    text-align: center;
    margin-left: 650px;
    background: rgba(102, 102, 102, 0.7);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 1);
}
@media screen and (max-width: 1248px){
    .blog-post{
        margin-left: 200px;
        width: 70%;

    }


}

